.hero-component{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
  background-color: rgba(217, 229, 241, 0.32);
    padding: 70px;
    width: 1000px;
}

.hero-component p{
    margin: 0;
}
.profile-picture{
    width: 100%;
}
.text-1{
    font-weight:600;
    font-size: 40px;
    opacity: 0.7;
}
.text-2{
    font-weight:600;
    font-size: 40px;
    color: rgb(8, 156, 8);
}
.text-3{
    font-size: 11px;
    opacity: 0.6;
    margin-top: 7px;
   
}

.hero-component button{
  
    font-size: 15px;
     padding: 10px;
     position: relative;
     bottom: 15px;
     border: none;
     background: rgb(21, 183, 21);
     color: white;
     border-radius: 4px;
     padding-top: 15px;
     padding-bottom: 15px;
     font-weight: 500;
     position: relative;
     top: 20px;
     width: 100px;
}
