
.main-features{
    display: flex;
    align-items: center;
  justify-content: space-evenly;
  width: 100VW;
}
.title-1,.title-2{
    margin:2px;
    font-weight:550;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.676);
}
.title-1{
    margin-top: 20px;
}
.title-3{
    margin-top: 3px;
    font-size: small;
    color: rgba(0, 0, 0, 0.523);
    font-weight: 500;
}
.feature{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 250px;
padding: 30px;
border: none;
border-radius: 5px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}
.feature img{
    max-width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.footer{
    margin-top: 4px;
    font-size: small;
    color: rgba(0, 0, 0, 0.523);
    font-weight: 500; 
    
}
.heading{
    font-weight:550;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.676);
    margin: 0px;

}
.para-2{
    display: flex;
    width: 765px;
    margin-top: 100px;
}
.para-2 p{
    margin:0px;
    font-weight:550;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.676);
}
.para-2 span{
    margin-top: 3px;
    font-size: small;
    color: rgba(0, 0, 0, 0.523);
    font-weight: 500;
}
.para-2 button{
    width: 145px;
    font-size: 15px;
     padding: 10px;
     /* position: relative; */
     bottom: 15px;
     border: none;
     background:  rgb(21, 183, 21);
     color: white;
     border-radius: 4px;
     padding-top: 15px;
     padding-bottom: 15px;
     font-weight: 520;
     margin-top: 30px;
}
